# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
uk_food_db = mongo['uk_food']

In [4]:
# review the collections in our database
print(uk_food_db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = uk_food_db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [9]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': {'$eq': 20}}
results = establishments.find(query)

# Use count_documents to display the number of documents in the result
count_results = establishments.count_documents(query)
print(f'number of establishments with a hygiene score of 20: {count_results}')


# Display the first document in the results using pprint
establishments.count_documents({})

print()
print("e.g of establishments with a hygiene score of 20:")
print()
pprint(results)

number of establishments with a hygiene score of 20: 0

e.g of establishments with a hygiene score of 20:

<pymongo.cursor.Cursor object at 0x000001F7C23CE090>

In [7]:
# Convert the result to a Pandas DataFrame
hygiene_20 = establishments.find(query)
hygiene_20_df = pd.DataFrame(hygiene_20)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(hygiene_20_df))


hygiene_20_df.head(10)

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [16]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
london_query = {'LocalAuthorityName':{'$regex':'London'}, 'RatingValue':{'$gte':'4'}}
london_results = establishments.find(london_query)

# Use count_documents to display the number of documents in the result
print("Number of documents in result:", establishments.count_documents(london_query))

# Display the first document in the results using pprint
#pprint("First document:")
#london_results = establishments.find(london_query) = establishments.find(query_london)
# pretty print the first document
for i in range(1):
    pprint(london_results[i])

Number of documents in result: 0

IndexError: no such item for Cursor instance

In [17]:
# Convert the result to a Pandas DataFrame
london_results_df = pd.DataFrame(london_results)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(london_results_df))
# Display the first 10 rows of the DataFrame
london_results_df.head(10)

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [21]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude =  51.49014200
longitude = 0.08384000

within_query = {'RatingValue': {'$eq': '5'},
         'geocode.longitude': {'$gt':(longitude-degree_search),'$lt':(longitude+degree_search)},
         'geocode.latitude': {'$gt':(latitude-degree_search), '$lt':(latitude+degree_search)}
         }
sort = [('scores.Hygiene', -1)]
limit = 5


# Print the results
within_result = (list(establishments.find(within_query).sort(sort).limit(limit)))
pprint(within_result)

[]

In [23]:
# Convert result to Pandas DataFrame
london_results_df = pd.DataFrame(london_results)
pprint(results)

<pymongo.cursor.Cursor object at 0x000001F7C23CE090>

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [39]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': {'$eq':0}}}

# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id':'$LocalAuthorityName', 'count':{'$sum': 1 }}}

# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count':-1}}


# Print the number of documents in the result
pipeline = [match_query, group_query, sort_values]
results = list(establishments.aggregate(pipeline))
print("Rows in DataFrame: ", len(results))
print()

# Print the first 10 results
pprint(results[0:10])

Rows in DataFrame:  0

[]

In [40]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display the first 10 rows of the DataFrame
result_df.head(10)

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []